<div class="form-wrapper">
  <div>
    <div class="form-title">Hablemos de café</div>
    <div class="form-subtitle">Tu mensaje es tan importante como tu café de cada día ☕</div>

    <form class="form-box" [formGroup]="contactoformulario" (ngSubmit)="contactoForm()">
      <!-- <div class="form-box"> -->
      <label for="nombre">Nombre completo</label>
      <input type="text" id="nombre" formControlName="nombre" placeholder="">

      <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="text-danger">
        <small *ngIf="nombre?.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="nombre?.errors?.['minlength']">Debe tener al menos 2 caracteres.</small>
        <small *ngIf="nombre?.errors?.['pattern']">Solo se permiten letras.</small>
      </div>

      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" formControlName="apellido" placeholder="">

      <div *ngIf="apellido?.invalid && (apellido?.dirty || apellido?.touched)" class="text-danger">
        <small *ngIf="apellido?.errors?.['required']">El apellido es obligatorio.</small>
        <small *ngIf="apellido?.errors?.['minlength']">Debe tener al menos 2 caracteres.</small>
        <small *ngIf="apellido?.errors?.['pattern']">Solo se permiten letras.</small>
      </div>

      <label for="email">Correo electrónico</label>
      <input type="email" id="correo" formControlName="correo" placeholder="">

      <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="text-danger">
        <small *ngIf="correo?.errors?.['required']">El correo es obligatorio.</small>
        <small *ngIf="correo?.errors?.['correo']">Formato de correo inválido.</small>
      </div>

      <label for="mensaje">Mensaje</label>
      <textarea id="mensaje" formControlName="mensaje" rows="5" placeholder=""></textarea>

      <div *ngIf="mensaje?.invalid && (mensaje?.dirty || mensaje?.touched)" class="text-danger">
        <small *ngIf="mensaje?.errors?.['required']">El mensaje es obligatorio.</small>
      </div>

      <div class="btn-wrapper">
        <button type="submit" class="btn-enviar" [disabled]="contactoformulario.invalid">Enviar</button>
      </div>
    </form>
  </div>

  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.6518961006394!2d-77.0725079!3d-12.0455695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf5d8506b0f3%3A0x1cdefc9169710cd0!2s%22LTR%20-%20CAFETER%C3%8DA%22!5e0!3m2!1ses-419!2spe!4v1719700000000!5m2!1ses-419!2spe"
      width="100%" height="410" style="border:0; border-radius: 20px;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>