<div class="container mt-4">
  <h2 class="mb-4">Mensajes Recibidos - Contáctanos 📬</h2>

  <div class="table-responsive mt-4">
    <table class="table table-bordered table-hover">
      <thead class="table-cafe">
        <tr>
          <th>ID</th>
          <th>ID Usuario</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Mensaje</th>
          <th>Acciones</th> <!-- Nueva columna -->
        </tr>
      </thead>
      <tbody>
        @if (contacto$ | async; as mensajes) {
        @for (m of mensajes; track m.id) {
        <tr>
          <td>{{ m.id }}</td>
          <td>{{ m.id_usuario?.id !==null ? m.id_usuario?.id:'Vacio' }}</td>
          <td>{{ m.nombre }}</td>
          <td>{{ m.apellido }}</td>
          <td>{{ m.correo }}</td>
          <td>{{ m.mensaje }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminarContacto(m.id!)">Eliminar</button>
          </td>
        </tr>
        }
        @empty {
        <tr>
          <td colspan="7" class="text-center">No hay mensajes recibidos 😁</td>
        </tr>
        }
        } @else {
        <tr>
          <td colspan="7" class="text-center">Cargando mensajes...</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>